version: '3'

services:
  devcontainer-gpu:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        BASE_IMAGE: pytorch/pytorch:2.10.0-cuda13.0-cudnn9-devel
    # # uncomment to use env file
    # env_file:
    #   - .env
    runtime: nvidia
    shm_size: '12gb'
    # make sure all the available GPUs are passed to the container
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - DEVICE=cuda
    volumes:
      # Uncomment to forward the local Docker socket to the container.
      #- /var/run/docker.sock:/var/run/docker-host.sock
      # Update this to wherever you want VS Code to mount the folder of your project
      - ..:/workspace:cached
    command: sleep infinity


  devcontainer-cpu:
    build:
      context: ..
      dockerfile: .devcontainer/Dockerfile
      args:
        BASE_IMAGE: python:3.12
    volumes:
      - ..:/workspace:cached
    command: sleep infinity
    environment:
      - DEVICE=cpu